In [2]:
#import libraries
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [3]:
#past lottery data ミニロト(MINI LOTO) of Japan
URL = "http://sougaku.com/miniloto/data/list1/"
page = requests.get(URL)

'''
pass page.content instead of page.text to avoid problems with character encoding. 
The .content attribute holds raw bytes, which can be decoded better than the text representation
'''
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
'''
inspect website 
<table class="bun_box2" ...>
.
.
.
<tr>
    <td class="w6"> 第1000回 </td>
    <td class="w5"> 3 </td> 本数字
    <td class="w5"> 8 </td> 本数字
    <td class="w5"> 14 </td> 本数字
    <td class="w5"> 18 </td> 本数字
    <td class="w5"> 26 </td> 本数字
    <td class="w4"> 7 </td> B数字
    <td> B </td> セット
</tr>
'''

In [4]:
table = soup.find('table', attrs={"class":"bun_box2"})
table_rows = table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)


df = pd.DataFrame(res, columns = ["past_drawings", "number_1", "number_2", "number_3","number_4","number_5", "bonus_number", "set", "main_number odd:even", "total_main", "all_number odd:even", "total_all", "Details"])

#inspect df
df.describe()

,past_drawings,number_1,number_2,number_3,number_4,number_5,bonus_number,set,main_number odd:even,total_main,all_number odd:even,total_all,Details
count,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222,1222
unique,1222,23,25,27,27,22,31,10,6,97,7,109,1
top,第1回,2,9,14,24,31,16,A,3：2,80,3：3,106,詳細表示
freq,1,187,96,82,100,205,52,137,412,31,431,33,1222

In [5]:
#drop non-necessary columns
to_drop = ['main_number odd:even',
                'total_main', 
                'all_number odd:even', 
                'total_all', 
                'Details']

df.drop(to_drop, inplace=True, axis=1)

df.head()

  past_drawings number_1 number_2 number_3 number_4 number_5 bonus_number set
0           第1回        1        3       17       20       25           26   A
1           第2回        2       11       12       21       30           28   B
2           第3回        1        8       10       24       30           28   E
3           第4回       11       12       14       20       31           29   C
4           第5回        8        9       15       21       25           23   D